<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/USER/Desktop/Enhanzer QA Intern/Basic Test Automation Task/Test-Automation-Task/Automation_Task">
        <classes>
            <class name="testCases.TC001_ValidFormTest">
                <methods>
                    <include name="TC001"/>
                </methods>
            </class>
            <class name="testCases.TC002_LeaveMandatoryTest">
                <methods>
                    <include name="TC002"/>
                </methods>
            </class>
            <class name="testCases.TC003_InvalidEmailTest">
                <methods>
                    <include name="TC003"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>